<div>
	<div class="container">
        <div>
            <h1>Welcome To Toiey!!!!</h1>
            <div ui-view></div>
        </div>
    </div>
    
	  <div class="col-sm-3 text-center">
		<a ui-sref="customer">
			<span class="fa-stack fa-lg fa-4x ">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
			</span>
			<p class="menuWord">Management</p>
		</a>
	  </div>
	  
	  <div class="col-sm-2 text-center">
		<a ui-sref="user">
			<span class="fa-stack fa-lg fa-4x ">
                <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
			</span>
			<p class="menuWord">Table Gen User</p>
		</a>
	  </div>
	
</div>