<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1>Welcome To Toiey!!!!</h1>
                <br>
                <h2>{{THIS_.mag}}</h2>
                <h4>
                    <label class="control-label">Name</label>: {{THIS.customer.name}}</h4>
                <h4>
                    <label class="control-label">LastName</label>: {{THIS.customer.lastname}}</h4>
                <h4>
                    <label class="control-label">BirthDay</label>: {{THIS.customer.birthday | date:'dd-MM-yyyy'}}</h4>
                <h4>
                    <label class="control-label">Age</label>: {{THIS.customer.age}}</h4>
                <h4>
                    <label class="control-label">Sex</label>: {{THIS.customer.sex}}</h4>
                <h4>
                    <label class="control-label">Like</label>: {{THIS.customer.likeJAVA}} {{THIS.customer.likePHP}} {{THIS.customer.likeC}}</h4>
                <h4>
                    <label class="control-label">Study</label>: {{THIS.customer.study}}</h4>
            </div>
            <div class="col-md-8">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label">ชื่อ</label>
                        </div>
                        <div class="col-sm-10">
                            <input type="text" ng-model="THIS.customer.name" class="form-control" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="lastName" class="control-label">นามสกุล</label>
                        </div>
                        <div class="col-sm-10">
                            <input type="lastName" ng-model="THIS.customer.lastname" class="form-control" id="lastName"
                            placeholder="LastName">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="birthday" class="control-label">เกิด</label>
                        </div>
                        <div class="col-sm-10">
						  <p class="input-group">
						    <input type="text"  class="form-control" uib-datepicker-popup ng-model="THIS.customer.birthday" is-open="popup2.opened" 
						    		datepicker-options="dateOptions" ng-required="true" close-text="Close" />
						    <span class="input-group-btn">
						      <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
						    </span>
						  </p>
						</div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="age" class="control-label">อายุ</label>
                        </div>
                        <div class="col-sm-10">
                            <input type="number" ng-model="THIS.customer.age" class="form-control" id="age" placeholder="Age">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="sex" class="control-label">เพศ</label>
                        </div>
                        <div class="col-sm-10">
                            <input type="radio" id="women" value="women" ng-model="THIS.customer.sex" name="sex"> หญิง</div>
                        <div class="col-sm-10">
                            <input type="radio" id="men" value="men" ng-model="THIS.customer.sex" name="sex"> ชาย</div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="sex" class="control-label">ภาษาที่ชอบ</label>
                        </div>
                        <div class="col-sm-10 checkbox">
                            <label>
                                <input type="checkbox" ng-true-value="'JAVA'" ng-false-value="''" ng-model="THIS.customer.likeJAVA">JAVA</label>
                            <label>
                                <input type="checkbox" ng-true-value="'PHP'" ng-false-value="''" ng-model="THIS.customer.likePHP">PHP</label>
                            <label>
                                <input type="checkbox" ng-true-value="'C#'" ng-false-value="''" ng-model="THIS.customer.likeC">C#</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="sex" class="control-label">ระดับการศึกษา</label>
                        </div>
                        <div class="col-sm-10">
                            <select ng-model="THIS.customer.study" class="form-control" style="width: 20%">
                                <option value="">-- เลือก --</option>
                                <option value="ม.ต้น">ม.ต้น</option>
                                <option value="ม.ปลาย">ม.ปลาย</option>
                                <option value="ปริญาตรี">ปริญาตรี</option>
                                <option value="ปริญาโท">ปริญาโท</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" ng-click="THIS.save()" >Add</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

