<div class="section">
    <div class="container">
        <div class="row">
			
		  	<a ui-sref="user">
             	<button type="button" style="width: 15%" class="btn btn-default">
             	<span class="glyphicon glyphicon-home" aria-hidden="true"></span> กลับ</button>
             </a>
			
			<div class="panel panel-primary">
			  <div class="panel-heading">User</div>
				  <div class="panel-body">
				    <form class="form-horizontal" role="form">
				     	<div class="form-group">
		                    <div class="col-sm-1">
		                        <label class="control-label">Name</label>
		                    </div>
		                    <div class="col-sm-3">
		                        <input type="text" class="form-control" placeholder="">
		                    </div>
		                </div>
						<div class="form-group">
		                    <div class="col-sm-1">
		                        <label class="control-label">UserName</label>
		                    </div>
		                    <div class="col-sm-3">
		                        <input type="text" class="form-control" placeholder="">
		                    </div>
		                </div>
		                <div class="form-group">
		                    <div class="col-sm-1">
		                        <label class="control-label">Password</label>
		                    </div>
		                    <div class="col-sm-3">
		                        <input type="text" class="form-control" placeholder="">
		                    </div>
		                </div>
					</form>
				  </div>
			</div>
			
			
		</div>
	</div>
</div>