<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading" style="
    border-bottom-width: 1px;
    padding-bottom: 3px;
    padding-top: 3px;
">
                  <h4 class="text-right">User Management</h4>
              </div>
              
             <div class="col-md-12 text-center" style="
    padding-top: 9px;
">
                <div class="form-group">
                  <div class="col-sm-2">
						<button type="submit" class="btn btn-primary" ng-click="THIS.add()" >เพิ่ม</button>
						<button type="submit" class="btn btn-danger" ng-click="THIS.delete()" >ลบ</button>
                  </div>
                  <div class="col-sm-2 text-right">
                    <label class="control-label" style="
    padding-top: 14px;
">ค้นหา</label>
                  </div>
                  <div class="col-sm-2">
                    <select class="form-control">
                      <option>--- กรุณาเลือก ---</option>
                    </select>
                  </div>
                  <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="ค้นหา">
                  </div>
                  <div class="col-sm-2 text-left">
                    <button type="submit" class="btn btn-primary">ค้นหา</button>
                  </div>
                </div>
              </div>
             
              <table class="table table-sm">
			  <thead>
			    <tr>
			      <th><input type="checkbox"> Action</th>
			      <th>First Name</th>
			      <th>Last Name</th>
			      <th>Username</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <th><input type="checkbox">
			      	  <i class="glyphicon glyphicon-pencil fa-border text-muted"> </i> 
            		  <i class="glyphicon glyphicon-trash fa-border text-muted"> </i>
            	  </th>
			      <td>Mark</td>
			      <td>Otto</td>
			      <td>@mdo</td>
			    </tr>
			    <tr>
			      <th><input type="checkbox">
			      	  <i class="glyphicon glyphicon-pencil fa-border text-muted"> </i> 
            		  <i class="glyphicon glyphicon-trash fa-border text-muted"> </i>
            	  </th>
			      <td>Jacob</td>
			      <td>Thornton</td>
			      <td>@fat</td>
			    </tr>
			    <tr>
			      <th><input type="checkbox">
			      	  <i class="glyphicon glyphicon-pencil fa-border text-muted"> </i> 
            		  <i class="glyphicon glyphicon-trash fa-border text-muted"> </i>
            	  </th>
			      <td>Larry the Bird</td>
			      <td>@twitter</td>
			      <td>@twitter</td>
			    </tr>
			  </tbody>
			</table>
				
				
              <div class="col-md-12 text-right">
	              <ul class="pagination" style="
    margin-top: 9px;
">
	                <li>
	                  <a href="#">Prev</a>
	                </li>
	                <li>
	                  <a href="#">1</a>
	                </li>
	                <li>
	                  <a href="#">2</a>
	                </li>
	                <li>
	                  <a href="#">3</a>
	                </li>
	                <li>
	                  <a href="#">4</a>
	                </li>
	                <li>
	                  <a href="#">5</a>
	                </li>
	                <li>
	                  <a href="#">Next</a>
	                </li>
	              </ul>
	           </div>
	            
	            
            </div>
          </div>
        </div>
      </div>
    </div>